@page "/editcommand/{id}"
@using BlazorAPIClient.Dtos
@inject HttpClient http
@inject NavigationManager NavigationManager

<h3>Edit Command</h3>
<hr />
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="HowTo" class="control-label">How To</label>
                <input for="HowTo" class="form-control" @bind="@command.HowTo" />
            </div>
            <div class="form-group">
                <label for="Line" class="control-label">Line</label>
                <input for="Line" class="form-control" @bind="@command.Line" />
            </div>
            <div class="form-group">
                <label for="Platform" class="control-label">Platform</label>
                <input for="Platform" class="form-control" @bind="@command.Platform" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="@UpdateCommandAPI" value="Update" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string id { get; set; } = ""; //REMEMBER YOU HAVE TO PUT IT IN STRING OR ELSE YOU WILL GET CAST ERROR WHEN
                                         // LOADING THE PAGE
    private CommandDto command { get; set; } = new CommandDto();
    protected async Task UpdateCommandAPI()
    {
        await http.PutAsJsonAsync($"http://localhost:5000/api/commands/{id}", command);
        NavigationManager.NavigateTo("command");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("command");
    }

}